@import "normalize";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$shadow-mask-position: 0.0875em;

body {
	font-family: 'Open Sans', sans-serif;
	background: #9cb8b3;
	h1 {
		width: 100%;
		text-align: center;
		top: 25%;
		position: absolute;
	}
	.banner, .banner:after {
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
		white-space: nowrap;
		color: #efedce;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		z-index: 100;
		text-shadow: 0.04em 0.04em 0 #9cb8b3;
		position: relative;
		display: inline-block;
	}
	.banner {
		font-size: 6em;
		@media (max-width: 1300px) {
			font-size: 4em;
		}
		@media (max-width: 900px) {
			font-size: 3em;
		}
		@media (max-width: 640px) {
			font-size: 2em;
		}
		@media (max-width: 480px) {
			font-size: 1.5em;
		}
	}
	.banner:after {
		content: attr(data-shadow-text);
		color: rgba(0, 0, 0, 0.35);
		text-shadow: none;
		position: absolute;
		top: $shadow-mask-position;
		left: $shadow-mask-position;
		z-index: -1;
		-webkit-mask-image: url(http://googledrive.com/host/0B87q5X76yoiWQXloeHg3MGtoTDA/mask.png);
	}
}