@import "bower_components/foundation/scss/normalize";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$shadow-mask-position: 0.0875em;
$overlay-backgrount-color: #FA6900;

body {
	font-family: 'Lato', sans-serif;
	background: #A7DBD8;
	a {
		text-decoration: none;
		outline: none;
	}
	h1 {
		width: 100%;
		text-align: center;
		top: 25%;
	}
	.banner, .banner:after {
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
		white-space: nowrap;
		color: #F38630;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		z-index: 100;
		text-shadow: 0.04em 0.04em 0 #A7DBD8;
		position: relative;
		display: inline-block;
	}
	.banner {
		font-size: 6em;
		@media (max-width: 1300px) {
			font-size: 4em;
		}
		@media (max-width: 900px) {
			font-size: 3em;
		}
		@media (max-width: 640px) {
			font-size: 2em;
		}
		@media (max-width: 480px) {
			font-size: 1.5em;
		}
	}
	.banner:after {
		content: attr(data-shadow-text);
		color: rgba(0, 0, 0, 0.35);
		text-shadow: none;
		position: absolute;
		top: $shadow-mask-position;
		left: $shadow-mask-position;
		z-index: -1;
		-webkit-mask-image: url(http://googledrive.com/host/0B87q5X76yoiWQXloeHg3MGtoTDA/mask.png);
	}
	section {
		margin: 50px 0;
		p {
			max-width: 600px;
			margin: 0 auto;
			text-align: center;
		}
	}
	#trigger-overlay {
		border: none;
		padding: 15px 30px;
		outline: none;
		background: #69D2E7;
		display: inline-block;
		color: #E0E4CC;
		margin: 5px;
		text-transform: uppercase;
		border-radius: 2px;
		letter-spacing: 1px;
		font-size: 100%;
		width: 50%;
	}
}

/* Overlay style */
.overlay {
	font-family: 'Lato', sans-serif;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.9;
	background: $overlay-backgrount-color;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(http://googledrive.com/host/0B87q5X76yoiWQXloeHg3MGtoTDA/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 60%;
	height: 90%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #E0E4CC;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

.container {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.container.overlay-open {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}